<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--编写映射文件-->
<mapper namespace="com.hbjg.system.mapper.DeliverylogMapper">
    <select id="selectDlogMyPage"
            resultType="com.hbjg.system.pojo.DeliverylogListDto">

        SELECT
            tb_deliverylog.id,
            tb_user.name as userName,
            tb_deliverylog.property_name,
            tb_deliverylog.property_spec,
            tb_deliverylog.property_number,
            tb_type.name as typeName,
            tb_type2.name as type2Name,
            tb_deliverylog.time,
            tb_deliverylog.img_src,
            tb_deliverylog.remark
        FROM
            tb_deliverylog
            LEFT JOIN tb_user ON tb_deliverylog.user_id = tb_user.id
            LEFT JOIN tb_type ON tb_deliverylog.type_id = tb_type.id
            LEFT JOIN tb_type2 ON tb_deliverylog.type2_id = tb_type2.id
	    ${ew.customSqlSegment}

    </select>

</mapper>