<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--编写映射文件-->
<mapper namespace="com.hbjg.system.mapper.LendlogMapper">
    <select id="selectLendlogMyPage"
            resultType="com.hbjg.system.pojo.LendlogListDto">

        SELECT
            tb_lendlog.id,
            u1.username as borrower,
            tb_lendlog.property_id,
            tb_property.name as propertyName,
            u2.username as reviewer,
            tb_lendlog.time,
            tb_lendlog.property_number,
            tb_property.spec as propertySpec,
            tb_lendlog.`status`,
            tb_lendlog.img_src,
            tb_lendlog.remark
        FROM
            tb_lendlog
            LEFT JOIN tb_user u1 ON u1.id = tb_lendlog.user_id1
            LEFT JOIN tb_user u2 ON u2.id = tb_lendlog.user_id2
            LEFT JOIN tb_property ON tb_property.id = tb_lendlog.property_id
	    ${ew.customSqlSegment}

    </select>

    <select id="selectLendlogMyPageByCon"
            resultType="com.hbjg.system.pojo.LendlogListDto">

        SELECT
            tb_lendlog.id,
            u1.username as borrower,
            tb_property.name as propertyName,
            u2.username as reviewer,
            tb_lendlog.time,
            tb_lendlog.property_number,
            tb_property.spec as propertySpec,
            tb_lendlog.`status`,
            tb_lendlog.img_src,
            tb_lendlog.remark
        FROM
            tb_lendlog
            LEFT JOIN tb_user u1 ON u1.id = tb_lendlog.user_id1
            LEFT JOIN tb_user u2 ON u2.id = tb_lendlog.user_id2
            LEFT JOIN tb_property ON tb_property.id = tb_lendlog.property_id
	    ${ew.customSqlSegment}

    </select>
</mapper>