<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--编写映射文件-->
<mapper namespace="com.hbjg.system.mapper.OperationlogMapper">
    <select id="selectOlogMyPage"
            resultType="com.hbjg.system.pojo.Operationlog">
        select * from tb_operationlog
        ${ew.customSqlSegment}
    </select>
</mapper>