<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--编写映射文件-->
<mapper namespace="com.hbjg.system.mapper.ProjectMapper">
    <select id="findAll"  resultType="com.hbjg.system.pojo.ProjectListDto">
       select
            tb_project.id,
            tb_project.name,
            tb_user.name as fuzeren,
            tb_project.code,
            tb_project.email
	    from
	        tb_project
	    left join
	        tb_user on tb_project.user_id = tb_user.id
    </select>

    <update id="addUserByCode" parameterType="com.hbjg.system.pojo.Project">
        update
            tb_project
        set
            user_id=#{userId}
        where
            code=#{code}
    </update>

    <select id="selectByUserId" parameterType="integer" resultType="com.hbjg.system.pojo.Project">
        select
            *
        from
            tb_project
        where
            user_id = #{userId}
    </select>
</mapper>