<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--编写映射文件-->
<mapper namespace="com.hbjg.system.mapper.PropertyMapper">
    <select id="selectProMyPage"
            resultType="com.hbjg.system.pojo.PropertyListDto">

        select
            tb_property.id,
	        tb_property.name,
	        tb_property.spec,
	        tb_property.number,
	        tb_type.name as typeName,
	        tb_type2.name as type2Name,
	        tb_storageitems.name as storageitemsName,
	        tb_property.remark
	    from tb_property
	        left join tb_type on tb_property.type_id = tb_type.id
	        left join tb_storageitems on tb_property.storageitems_id = tb_storageitems.id
	        left join tb_type2 on tb_property.type2_id = tb_type2.id
	    ${ew.customSqlSegment}

    </select>

	<update id="addNum" parameterType="integer" >
		update tb_property set number=number+${number} where id=${pid}
	</update>

	<update id="subNum" parameterType="integer">
		update tb_property set number=number-${number} where id=${pid}
	</update>

	<select id="selectProByName" resultType="com.hbjg.system.pojo.Property">
		select
			*
		from
			tb_property
		where
			name=${pname}

	</select>

    <select id="selectProByNameAndSpec" resultType="com.hbjg.system.pojo.Property">
		select
			*
		from
			tb_property
		where
			name='${pname}' and spec='${spec}'
	</select>

	<select id="selectProByNameAndSpecAndType" resultType="com.hbjg.system.pojo.Property">

		select
			*
		from
			tb_property
		where
			name='${pname}' and spec='${spec}'and type_id=${type} and type2_id=${type2}
	</select>
</mapper>