<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--编写映射文件-->
<mapper namespace="com.hbjg.system.mapper.SlrMapper">
    <select id="selectByUidAndPid"  parameterType="integer" resultType="com.hbjg.system.pojo.Slr">
		select
			*
		from
			tb_slr
		where
			user_id=#{uid} and property_id=#{pid}
    </select>

	<select id="selectSlrMyPage" resultType="com.hbjg.system.pojo.SlrListDto">
		 select
			s.id,
			u.name as userName,
			tb_project.name as projectName,
			p.name as propertyName,
			s.property_number as propertyNumber,
			p.spec as propertySpec
		from
			tb_slr s
		left join tb_user u on s.user_id = u.id
		left join tb_property p on s.property_id = p.id
		left join tb_project on s.user_id = tb_project.user_id
		${ew.customSqlSegment}
	</select>

	<select id="selectSlrByUserId" parameterType="integer" resultType="com.hbjg.system.pojo.Slr">
		select
			*
		from
			tb_slr
		where
			user_id = #{uid}
	</select>

	<update id="AddNumByUidAndPid" parameterType="integer">
		update
			tb_slr
		set
			property_number=property_number+#{number}
		where
			user_id=#{uid} and property_id=#{pid}
	</update>

	<update id="SubNumByUidAndPid" parameterType="integer">
		update
			tb_slr
		set
			property_number=property_number-#{number}
		where
			user_id=#{uid} and property_id=#{pid}
	</update>
</mapper>
