<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--编写映射文件-->
<mapper namespace="com.hbjg.system.mapper.Type2Mapper">
    <select id="getT2ByT" parameterType="integer"
            resultType="com.hbjg.system.pojo.Type2">
        select * from tb_type2 where type_id=#{tid}
    </select>
</mapper>