<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--编写映射文件-->
<mapper namespace="com.hbjg.system.mapper.UserMapper">
	<!--分页查询所有用户并封装到UserListDto实体类中，需要用到多表联查-->
    <select id="selectUserMyPage"
            resultType="com.hbjg.system.pojo.UserListDto">
        select
            tb_user.id,
	        tb_user.username,
	        tb_user.password,
	        tb_user.name,
	        tb_user.phone,
	        tb_role.name as roleName,
	        tb_department.name as departmentName,
	        tb_user.joindate
	    from tb_user
	        left join tb_role on tb_user.role_id = tb_role.id
	        left join tb_department on tb_user.department_id = tb_department.id
	    ${ew.customSqlSegment}

    </select>

	<!--根据账号密码查询用户-->
	<select id="findUserByUsernameAndPwdAndRole" resultType="com.hbjg.system.pojo.User">
		select * from tb_user
		${ew.customSqlSegment}
	</select>

	<!--根据id更改角色-->
	<update id="updateRole" parameterType="integer">
		update
			tb_user
		set
			role_id=#{rid}
		where
			id=#{uid}
	</update>

</mapper>