<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--编写映射文件-->
<mapper namespace="com.hbjg.system.mapper.WarehousinglogMapper">
    <select id="selectWlogMyPage"
            resultType="com.hbjg.system.pojo.WarehousinglogListDto">

        SELECT
            tb_warehousinglog.id,
            tb_user.name as userName,
            tb_warehousinglog.property_name,
            tb_warehousinglog.property_spec,
            tb_warehousinglog.property_number,
            tb_type.name as typeName,
            tb_type2.name as type2Name,
            tb_warehousinglog.time,
            tb_warehousinglog.img_src,
            tb_warehousinglog.remark
        FROM
            tb_warehousinglog
            LEFT JOIN tb_user ON tb_warehousinglog.user_id = tb_user.id
            LEFT JOIN tb_type ON tb_warehousinglog.type_id = tb_type.id
            LEFT JOIN tb_type2 ON tb_warehousinglog.type2_id = tb_type2.id
	    ${ew.customSqlSegment}

    </select>

</mapper>